.admin-console-typo {
    font-family: "kenvue-sans" !important;
    font-weight: 700 !important;
    font-size: 33.18px !important;
    flex: 1 !important;
}

.add-change-log {
    font-family: "kenvue-sans-regular" !important;
    flex: 1 !important;
    font-size: 15px !important;
    font-weight: 400 !important;
}

.admin-table-header {
    font-family: "kenvue-sans" !important;
    font-size: 16px !important;
    font-weight: 700 !important;
    margin-top: 42px !important;
    color: #000000 !important;
}

.no-version-history {
    font-size: 19.2px !important;
    font-weight: 400 !important;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #000000 !important;
}

.version-history-fields {
    font-family: "kenvue-sans" !important;
    font-weight: 700 !important;
    font-size: 13.33px !important;
    color: #000000 !important;
}

.version-history-form-submit {
    font-family: "kenvue-sans-regular" !important;
    font-weight: 400 !important;
    font-size: 16px !important;
}

.version-history-form-submit:hover {
    background-color: black !important;
}

.caption-version-history {
    font-family: "kenvue-sans-regular" !important;
    font-weight: 400 !important;
    font-size: 13.33px !important;
    color: #000000 !important;
}

.version-history-input {
    font-family: "kenvue-sans-regular" !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    margin-top: 8px !important;
    color: #000000 !important;
}

.history-table-header .version-row {
    font-family: "kenvue-sans-regular" !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    color: #000000 !important;
}

.version-cell {
    font-family: "kenvue-sans-regular" !important;
    font-weight: 400 !important;
    color: #000000 !important;
}

.MuiOutlinedInput-input {
    font-family: "kenvue-sans-regular" !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    color: #000000 !important;
}