@use "variables" as gv;

@font-face {
  font-family: "kenvue-sans";
  src: url("../fonts/KenvueSansBold_normal_normal.woff2") format("woff2"); 
}
@font-face {
  font-family: "kenvue-sans-bold";
  src: url("../fonts/Kenvue_Sans-Bold.otf") format("otf");
}
@font-face {
  font-family: "kenvue-sans-medium";
  src: url("../fonts/Kenvue_Sans-Medium.otf") format("otf");
}
@font-face {
  font-family: "kenvue-sans-extrabold";
  src: url("../fonts/Kenvue_Sans-Extrabold.otf") format("otf");
}
@font-face {
  font-family: "kenvue-sans-semiBold";
  src: url("../fonts/Kenvue_Sans-Semibold.otf") format("otf");
}
@font-face {
  font-family: "kenvue-sans-regular";
  src: url("../fonts/KenvueSansRegular_normal_normal.woff2") format("woff2");
  
}
body {
  font-family: "kenvue-sans", sans-serif;
  color: black;
}


/* Regular */
@font-face {
  font-family: 'Kenvue Sans';
  src: url('../fonts/KenvueSansRegular_normal_normal.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'Kenvue Sans';
  src: url('../fonts/KenvueSansBold_normal_normal.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
.docx_viewer * {
  font-family: 'Kenvue Sans', sans-serif !important;
}
.doc-viewer-container * {
  font-family: 'Kenvue Sans', sans-serif !important;
}
.docx_viewer span{
    font-family: 'Kenvue Sans', sans-serif !important;

}



.header {
  color: "black";
  font-family: "kenvue-sans", sans-serif;
}
.pdrm-ui {
  background: gv.$background-color;
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  overflow-y: scroll;
  * {
    box-sizing: border-box;
  }

  .homeContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  .left-section {
    flex: 1;
  }
  .right-section {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
}

* {
    -webkit-font-smoothing: antialiased !important;
    font-synthesis: none;
    text-rendering: optimizeLegibility !important;
  }